h1, h2 {
font-size: 28px;
color:rgb(165, 157, 42);
}

body {
    background-color: black;
}
/* Esto es un selector de un h1 con un atributo "title" */
h1[title] {
    font-size: 24px;
    color:brown;
}
h2+h3 {
    color: rgb(255, 255, 255);
}
p, div{
    color: greenyellow;
}

ul {
    /*position:fixed (300, 300, 42, 300);*/
    /*display:table-column-group;*/
    color:antiquewhite;
}
/* Aquí usamos un selector de un identificador que hemos puesto en un elemento h1*/
#ele {
    color:rgb(100, 86, 5);
}
span {
    background-color: greenyellow;
    /*color: black !important;*/
}
.inline {
    color:black;
}