h1, h2 {
font-size: 28px;
color:rgb(165, 157, 42);
}

body {
    background-color: black;
}
/* Esto es un selector de un h1 con un atributo "title" */
h1[title] {
    font-size: 24px;
    color: red;
}